<%= render "shared/second_header" %>

<div class="center_main">
  <div class="center_inner">
    <div class="wrapper">
      <h2 class="completion_title">
        <%= "退会完了しました。"%>
      </h2>
      <%= link_to "トップページに戻る", root_path, class: :nav__link %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>