<div class="card">
  <%= link_to image_tag(item.image, class: :card__img ), item_path(item.id) %>
  <div class="card__body">
    <%= link_to item.item_name, item_path(item.id), class: :card__title%>
    <%= link_to "by #{item.user.nickname}", "/users/#{item.user.id}", class: :card__user %>
  </div>
</div>