<div class="card">
  <%= link_to image_tag(knowledge.image, class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to knowledge.knowledge_title, root_path, class: :card__title%>
    <%= link_to "by #{knowledge.user.nickname}", root_path, class: :card__user %>
  </div>
</div>