<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <h1 class="title">SEDORI</h1>
      </div>
      <div class="nav__right">
        <%= link_to "トップページに戻る", root_path, class: :nav__btn %>
      </div>
    </div>
  </div>
</header>