<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <h1 class="title"><%= link_to "SEDORI", root_path %></h1>
      </div>
    </div>
  </div>
</header>