<%= render "shared/second_header" %>

<div class="senter_main">
  <div class="semter_inner">
    <div class="wrapper">
      <h2 class="page_heading">せどり成功商品情報の編集</h2>
      <%= render partial: "shared/item_form", locals: { item: @item } %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>