<%= render "shared/second_header" %>
<div class="center_main">
  <div class="center_inner">
    <div class="wrapper">
      <h2 class="page_heading">せどり成功商品情報</h2>
      <%= render partial: "shared/item", collection: @item %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>