<%= render "shared/second_header" %>
<div class="center_main">
  <div class="center_inner">
    <div class="post_page_title">
      <h2 class="page_heading">せどり成功商品情報</h2>
      <%= link_to "トップページへ戻る", root_path, class: :return_top_btn %>
    </div>
    <div class="card__wrapper">
      <%= render partial: "shared/item", collection: @item %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>