<%= render "shared/second_header" %>

<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規商品情報投稿</h2>
        <%= render partial: "shared/item_form", locals: { item: @item } %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>