<%= render "shared/header" %>
<div class="center_main">
  <div class="center_inner">
    <h2 class="page_heading">せどりの方法・知識</h2>
    <div class="card__wrapper">
      <%= render partial: "shared/knowledge", collection: @knowledge %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>