<%= render "shared/second_header" %>

<div class="center_main">
  <div class="center_inner">
    <div class="wrapper">
      <h2 class="page_heading">せどりの方法・知識の投稿</h2>
        <%= render partial: "shared/knowledge_form", locals: { knowledgw: @knowledge } %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>