.user__wrapper{
  min-height: calc(100vh - 161px);
}

.completion_title{
  font-size: 30px;
  margin-bottom: 20px;
}

.nav__link{
  font-size: 20px;
  text-decoration: underline;
  margin-right: 30px;
}
.nav__link:hover{
  text-decoration: none;
  color: gray;
}